header {
  padding-top: 20px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  background-color: #383838;
  color: #f5f5f5;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #c0c0c0;
  color: #f5f5f5;
}

.footer .container-fluid {
  padding-top: 15px;
  text-align: center;
}